/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", serif;
   
}

/* navigation bar */
#navbar{

display: flex;
align-items: center;


}
/* img logo */
nav div img{
    height: 5rem;
    width: 100%;
}
#logo{
    margin: 30px 40px;
    
}

/* navigation bar list style  */
#navbar{
    position: relative;
}
#navbar::before{
    content: "";
    background-color: rgb(47, 45, 45);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
#navbar ul{
    display: flex;
   
   
}
#navbar ul li{
   
    
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 30px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.3rem;
    font-family: "Roboto", serif;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}

/* style for section  */

#home{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 120px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(../bg.jpg) no-repeat center center/cover;
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: .7;
}

/* utility classes  */
#home h1{
    color: rgba(33, 33, 33, 0.992);
    text-align: center;
    font-family: "Roboto", serif;
    
}
#home p{
    color: rgba(33, 33, 33, 0.992);
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", serif;
    
}
.h-primary{
    font-size: 4.8rem;
    padding: 10px;
    
   
}
.btn{   
    border: 2px solid white;
    padding: 10px 20px;
    background-color: brown;
    color: white;
    margin: 34px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}


.center{
    text-align: center;
}


/* section for box  */


.services{
    
  margin-top: 300px;
   


}
.services div{
    display: flex;
    border: 4px solid rgb(243, 137, 137);
    flex-direction: column;
    width: 25%;
    background-color: rgb(223, 172, 125);
    border-radius: 5px;

    
   
  
}
.services div img{
    height: 80%;
    width: 80%;
    padding: 35px;
    
}
.services div p{
    font-size: 1.3rem;
    padding: 15px;
}
.service-container{
    display: flex;
  
    width: 90%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    display: flex;
    margin: 35px;
}

/* login */

.Login{

    background-color: rgb(168, 146, 146);
    

   

}
.loginpage{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.loginpage label input{
   font-size: 2rem;
}
.loginpage label{
   font-size: 2rem;
   margin: 30px;
   
}
.loginbtn{
    font-size: 2rem;
    width: 6rem;
    margin: 10px;
}
.h-secondary{
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
  }
  

/* contact us */
.Contactus::before{
    content: "";
    background: url('https://images.pexels.com/photos/2789781/pexels-photo-2789781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    /* background-color: rgb(91, 44, 44); */
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    opacity: .7;
}
.Contactus{
    
    width: 100%;
    height: 33rem;
}
.reach{
    font-weight: bold;
    font-size: 4rem;
  
    display: inline;
    
    padding: 2px;
   
    text-decoration: underline brown;
    color: rgb(190, 63, 13);
}
.detail{
    
    
    font-size: 3rem;
    color: rgb(49, 46, 46);
}
.ll{
    font-size: 6rem;
    
    
}

.leftcontact{
    border : 4px solid rgb(164, 13, 13);
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: blanchedalmond;
    
    
    
}
.rightcontact{
position: absolute;
border: 2px solid red;
right : 2rem;
margin: 0;
padding: 2px;

}
.Contact{
    display: flex;
    margin: 15px;
}

.aboutus{
    border: 2px solid red;
    width: 90%;
    height: 25rem;
    display: flex;
    margin: 10px;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    

   
}
.about-h{
margin: 2px;
font-size: 3rem;
}

.aboutus p{
    font-size: 1.2rem;
}